#menu{
height: 100%;

    position: relative;
    bottom:0;
    left: 0;
    width: 100%;
color:   black;
box-shadow: 2px 0 4px  gray;

}
body{
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;

}
#app{
    position: fixed;
    height: 100%;
    width: 100%;


}
.Ajouter{
    position: absolute;
    width: 70%;
    height: 90%;
    top: 5%;
    left: 15%;
    opacity: 1;
    border-radius: 10px;
    background: white;
    border: 3px solid black;
}
#btnBurgr{
    width: 70px;
    height: 70px;
}
#btnBurgr:hover{
    background: #efaa73;
}
#login{
    background-image: url("images/ouvrir-une-salle-de-sport.webp");
}
#menu li:hover,#menu a:hover{
    background: #ee9b57;
    color: #ffffff;
}
::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-thumb {
    background-color: #ee9b57; /* Couleur de la poignée */
    border-radius: 5px; /* Coins arrondis */
}


#menu a{

   margin: auto;
    color: black;
    display: block;
    width: 90%;
    border-bottom: 2px solid #7e7979;
    font-size: 15px;
}
tr:hover{
    background: #fbcba0;
   cursor: pointer;
}

#menu li:last-child a{
    border-bottom: none;
}

#back{
    right: 70px;
    display: block;
}

#main{
    height: 100%;


    position: relative;
    width: 100%;


}
#main>div{

    position: relative;
    height: 100%;
    padding: 2%;
}

#main>div>div:last-child{
    background: white;
    border-radius: 10px 0;
}

#menu span{
    width: 60%;
    padding: 5px;
    display: inline-block;

}
#rowHome>a{
    height: 200px ;
    display: block;
    color: black;
    box-shadow: 3px 3px 10px  black;
    background-image: linear-gradient(to top right, #f9a25e,white) ;
}
.profil{
    border-left: 2px solid black;
    color: black;
    padding: 10px;
    height: 100%;
}
#downUl{
    height: 40px;
    padding: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.profil button,.profil a {
    width: 45%;
    margin-left:5px ;
    background: #ee9b57;
}

#header{
    background: #ef9c57;
height: 70px;
    color:#1f1f1f;
position: fixed;
    top: 0;
    width: 100%;

    box-shadow: 0 5px 10px #1f1f1f;
}
#secondHeader{
    border-bottom: 5px solid black;
}
#secondHeader button{
    background: black;
    color: white;
}
#header a,#header button{
width:70px ;
    color:black;
    height:70px;
    padding-top: 13px;
}
#header a:hover,#header button:hover{
    background: #fbcda3;
}
#content
{
    position: relative;
    height: 100%;
z-index: 1;




}

a{
    text-decoration: none;
}

root{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .Ajouter{

        width: 90%;

        left: 5%;

    }


}


