#menu{
height: 100%;

    position: relative;
    bottom:0;
    left: 0;
    width: 100%;
color:   black;
box-shadow: 2px 0 4px  gray;


}
.Ajouter>div>button:hover{
    color: red;

transform :scale(1.5);
}
#divMenu{
    animation-name: menu;
    animation-duration: 1s;
}
@keyframes menu {
    from {left: -500px;opacity: 0}
    to {left: 0;opacity: 100%}
}
#logo a:hover{
    background: none;
}

#app{
    position: fixed;
    height: 100%;
    width: 100%;
    transition: 1S opacity;


}


#notification{
    position: absolute;
    background: white;
    top: 60px;
    right: 0;
    width: 350px;
    height: 80%;
    box-shadow: -1px 1px 5px gray;
    animation: 1s notification;
}
@keyframes notification {
    from {height: 0;opacity: 0}
    to {height: 80%;opacity: 100%}
}
#btnBurgr{
    width: 60px;
    height: 60px;
    margin: 4px;
}
#btnBurgr:hover{
    background: #efaa73;
}
#login{
    background-image: url("images/ouvrir-une-salle-de-sport.webp");
}
#menu li:hover,#menu a:hover{
    background: #ee9b57;
    color: #ffffff;
}
::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-thumb {
    background-color: #000000; /* Couleur de la poignée */
    border-radius: 5px; /* Coins arrondis */

}
label{
    font-size: 15px;
}
thead{
    background: #ee9b57;
    color: #000000;
}
thead tr:hover{
    background: none;
    color: none;
}

#menu a{


    color: black;
    display: block;
    margin-left: 5%;
    width: 90%;
    border-bottom: 2px solid #989292;
    font-size: 79%;
}
tr:hover{
    background: #fbcba0;
   cursor: pointer;
}

#menu li:last-child a{
    border-bottom: none;
}

#back{
    right: 70px;
    display: block;
}

#main{
    height: 100%;


    position: relative;
    width: 100%;


}
#main>div{

    position: relative;
    height: 100%;
    padding: 2%;
}

#main>div>div:last-child{
    background: white;
    border-radius: 10px 0;
}

#menu span{
    width: 60%;

    padding: 5px;
    display: inline-block;

}
#rowHome>a{
    height: 200px ;
    display: block;
    color: black;
    box-shadow: 3px 3px 10px  black;
    background-image: linear-gradient(to top right, #f9a25e,white) ;
}
.profil{
    color: black;
    padding: 10px;
    height: 100%;
}


.profil button,.profil a {
    width: 45%;
    margin-left:5px ;
    background: #ee9b57;
}

#header{
    background:linear-gradient(to left top, #d3a47e 10%,#ef9c57,#ef9c57,#ef9c57) ;
height: 60px;
    color:#1f1f1f;
position: fixed;
    top: 0;
    width: 100%;

    box-shadow: 0 1px 5px #1f1f1f;
}
#secondHeader{
    border-bottom: 5px solid black;
}
#secondHeader button{
    background: linear-gradient(to right bottom,black, #282828,black);
    color: white;
    box-shadow: 1px 1px 5px gray;
}
#secondHeader button:hover{
    transform: scale(1.01);
}


#secondHeader>div:first-child button{
    border: 1px solid #d9d4d4;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    border-right: none;
    background: white;
    color: black;
}
#header a,#header button{
width:60px ;
    color:black;
    height:60px;
    padding-top: 13px;
}
#header a:hover,#header button:hover{
    background: #fbcda3;

}
#content
{
    position: relative;
    height: 100%;
z-index: 1;




}

a{
    text-decoration: none;
}


*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-style: normal;
    font-family: Arial;
}

ul{
    list-style: none;
    padding: 0;
}

.Ajouter{
    position: absolute;
    width: 70%;
    height: 90%;
    top: 5%;
    font-size: 10px;
    left: 15%;
    opacity: 1;
    border-radius: 2px;
    box-shadow: 0 0  5px gray;
    background: white;
    animation:1s ajouter;
transition: 5s display;

}

@keyframes ajouter {
    0%   {transform: scale(0);opacity: 0}
    100% {transform: scale(1);opacity: 100%}
}
#downUl button{
    font-size: 80%;
    font-weight: bold;
    width: 90%;
    background: #ee9b57;
    box-shadow: 3px 3px 3px gray;
    border: none;
    color: black;
    padding: 0;
}
#downUl{
    height: 40px;
    padding: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;

}
@media only screen and (max-width: 600px) {

    .Ajouter{
        width: 100%;
        height: 100%;
        top: 0;
        font-size: 8px;
        left: 0;
        border-radius: 0px;
        border: none;
    }


}
@media only screen and (max-width: 1000px) {
    #downUl{
        position: absolute;
        width: 100%;
        bottom: 20px;
        left: 0;

    }


}


